In [2]:
# install.packages("dplyr")
# install.packages("ggplot2")
library(dplyr)
library(ggplot2)

In [5]:
countries <- readRDS("data/counties.rds")

In [7]:
head(countries, 3)

  census_id state   county  region metro    population men   women hispanic
1 1001      Alabama Autauga South  Metro     55221     26745 28476 2.6
2 1003      Alabama Baldwin South  Metro    195121     95314 99807 4.5
3 1005      Alabama Barbour South  Nonmetro  26932     14497 12435 4.6
  white ⋯ other_transp work_at_home mean_commute employed private_work
1 75.8  ⋯ 1.3          1.8          26.5         23986    73.6
2 83.1  ⋯ 1.4          3.9          26.4         85953    81.5
3 46.2  ⋯ 1.5          1.6          24.1          8597    71.8
  public_work self_employed family_work unemployment land_area
1 20.9        5.5           0.0          7.6          594.44
2 12.3        5.8           0.4          7.5         1589.78
3 20.8        7.3           0.1         17.6          884.88

In [8]:
glimpse(countries)

Rows: 3,138
Columns: 40
$ census_id          <chr> "1001", "1003", "1005", "1007", "1009", "1011", "10…
$ state              <chr> "Alabama", "Alabama", "Alabama", "Alabama", "Alabam…
$ county             <chr> "Autauga", "Baldwin", "Barbour", "Bibb", "Blount", …
$ region             <chr> "South", "South", "South", "South", "South", "South…
$ metro              <chr> "Metro", "Metro", "Nonmetro", "Metro", "Metro", "No…
$ population         <dbl> 55221, 195121, 26932, 22604, 57710, 10678, 20354, 1…
$ men                <dbl> 26745, 95314, 14497, 12073, 28512, 5660, 9502, 5627…
$ women              <dbl> 28476, 99807, 12435, 10531, 29198, 5018, 10852, 603…
$ hispanic           <dbl> 2.6, 4.5, 4.6, 2.2, 8.6, 4.4, 1.2, 3.5, 0.4, 1.5, 7…
$ white              <dbl> 75.8, 83.1, 46.2, 74.5, 87.9, 22.2, 53.3, 73.0, 57.…
$ black              <dbl> 18.5, 9.5, 46.7, 21.4, 1.5, 70.7, 43.8, 20.3, 40.3,…
$ native             <dbl> 0.4, 0.6, 0.2, 0.4, 0.3, 1.2, 0.1, 0.2, 0.2, 0.6, 0…
$ asian              <dbl> 1.0, 0.7, 0.4, 0.1, 0.1, 0.2, 0.4, 0.9, 0.8, 0.3, 0…
$ pacific            <dbl> 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0…
$ citizens           <dbl> 40725, 147695, 20714, 17495, 42345, 8057, 15581, 88…
$ income             <dbl> 51281, 50254, 32964, 38678, 45813, 31938, 32229, 41…
$ income_err         <dbl> 2391, 1263, 2973, 3995, 3141, 5884, 1793, 925, 2949…
$ income_per_cap     <dbl> 24974, 27317, 16824, 18431, 20532, 17580, 18390, 21…
$ income_per_cap_err <dbl> 1080, 711, 798, 1618, 708, 2055, 714, 489, 1366, 15…
$ poverty            <dbl> 12.9, 13.4, 26.7, 16.8, 16.7, 24.6, 25.4, 20.5, 21.…
$ child_poverty      <dbl> 18.6, 19.2, 45.3, 27.9, 27.2, 38.4, 39.2, 31.6, 37.…
$ professional       <dbl> 33.2, 33.1, 26.8, 21.5, 28.5, 18.8, 27.5, 27.3, 23.…
$ service            <dbl> 17.0, 17.7, 16.1, 17.9, 14.1, 15.0, 16.6, 17.7, 14.…
$ office             <dbl> 24.2, 27.1, 23.1, 17.8, 23.9, 19.7, 21.9, 24.2, 26.…
$ construction       <dbl> 8.6, 10.8, 10.8, 19.0, 13.5, 20.1, 10.3, 10.5, 11.5…
$ production         <dbl> 17.1, 11.2, 23.1, 23.7, 19.9, 26.4, 23.7, 20.4, 24.…
$ drive              <dbl> 87.5, 84.7, 83.8, 83.2, 84.9, 74.9, 84.5, 85.3, 85.…
$ carpool            <dbl> 8.8, 8.8, 10.9, 13.5, 11.2, 14.9, 12.4, 9.4, 11.9, …
$ transit            <dbl> 0.1, 0.1, 0.4, 0.5, 0.4, 0.7, 0.0, 0.2, 0.2, 0.2, 0…
$ walk               <dbl> 0.5, 1.0, 1.8, 0.6, 0.9, 5.0, 0.8, 1.2, 0.3, 0.6, 1…
$ other_transp       <dbl> 1.3, 1.4, 1.5, 1.5, 0.4, 1.7, 0.6, 1.2, 0.4, 0.7, 1…
$ work_at_home       <dbl> 1.8, 3.9, 1.6, 0.7, 2.3, 2.8, 1.7, 2.7, 2.1, 2.5, 1…
$ mean_commute       <dbl> 26.5, 26.4, 24.1, 28.8, 34.9, 27.5, 24.6, 24.1, 25.…
$ employed           <dbl> 23986, 85953, 8597, 8294, 22189, 3865, 7813, 47401,…
$ private_work       <dbl> 73.6, 81.5, 71.8, 76.8, 82.0, 79.5, 77.4, 74.1, 85.…
$ public_work        <dbl> 20.9, 12.3, 20.8, 16.1, 13.5, 15.1, 16.2, 20.8, 12.…
$ self_employed      <dbl> 5.5, 5.8, 7.3, 6.7, 4.2, 5.4, 6.2, 5.0, 2.8, 7.9, 4…
$ family_work        <dbl> 0.0, 0.4, 0.1, 0.4, 0.4, 0.0, 0.2, 0.1, 0.0, 0.5, 0…
$ unemployment       <dbl> 7.6, 7.5, 17.6, 8.3, 7.7, 18.0, 10.9, 12.3, 8.9, 7.…
$ land_area          <dbl> 594.44, 1589.78, 884.88, 622.58, 644.78, 622.81, 77…

In [ ]:
# Seleccionar columnas
countries_clean <-countries %>%
    select(state, county, population, poverty)

In [13]:
head(countries_clean, 3)

  state   county  population poverty
1 Alabama Autauga  55221     12.9
2 Alabama Baldwin 195121     13.4
3 Alabama Barbour  26932     26.7

In [14]:
countries_selected <- countries %>%
    select(state, county, population, private_work, public_work, self_employed) %>%
    arrange(desc(public_work))

In [15]:
head(countries_selected, 3)

  state     county                    population private_work public_work
1 Hawaii    Kalawao                     85       25.0         64.1
2 Alaska    Yukon-Koyukuk Census Area 5644       33.3         61.7
3 Wisconsin Menominee                 4451       36.8         59.1
  self_employed
1 10.9
2  5.1
3  3.7

In [20]:
countries_selected <- countries %>%
    select(state, county, population) %>%
    filter(
        state == "California",
        population > 1000000
    )

In [21]:
countries_selected

  state      county         population
1 California Alameda         1584983
2 California Contra Costa    1096068
3 California Los Angeles    10038388
4 California Orange          3116069
5 California Riverside       2298032
6 California Sacramento      1465832
7 California San Bernardino  2094769
8 California San Diego       3223096
9 California Santa Clara     1868149

In [27]:
countries_selected <- countries %>%
    select(state, county, population, public_work) %>%
    mutate(
        public_workers = public_work * population / 100,
    ) %>%
    arrange(desc(public_workers))

In [28]:
head(countries_selected, 3)

  state      county      population public_work public_workers
1 California Los Angeles 10038388   11.5        1154414.6
2 Illinois   Cook         5236393   11.5         602185.2
3 California San Diego    3223096   14.8         477018.2

In [ ]:
countries_selected <- countries %>%
    mutate(
        state = state,
        county = county,
        population = population,
        proportion_women = women / population,
        proportion_men = men / population,
        .keep = "none" # se mantiene solo las columnas elegidas
    )

In [34]:
head(countries_selected, 3)

  state   county  population proportion_women proportion_men
1 Alabama Autauga  55221     0.5156734        0.4843266
2 Alabama Baldwin 195121     0.5115134        0.4884866
3 Alabama Barbour  26932     0.4617184        0.5382816