### Lista

In [1]:
# Recapitulando
vect <- 1:10
mat <- matrix(1:9, ncol=3)
num <- 7

In [2]:
my_list <- list(vect, mat, num) # Es una colección de elementos de cualquier tipo de dato

In [3]:
my_list

[[1]]
 [1]  1  2  3  4  5  6  7  8  9 10

[[2]]
     [,1] [,2] [,3]
[1,]    1    4    7
[2,]    2    5    8
[3,]    3    6    9

[[3]]
[1] 7

In [4]:
names(my_list) <- c("Vect", "Mat", "Num")
my_list

$Vect
 [1]  1  2  3  4  5  6  7  8  9 10

$Mat
     [,1] [,2] [,3]
[1,]    1    4    7
[2,]    2    5    8
[3,]    3    6    9

$Num
[1] 7

In [11]:
mov <- "The Shining"
act <- c("J. Nicholson", "S. Duvall", "D. Lloyd", "S. Crothers", "B. Nelson")
scores <- c(4.5, 3.7, 5.0)
sources <- c("IMDb1", "IMDb2", "IMDb3")
comments <- c("First comment", "Second comment", "3th comment")

rev <- data.frame(scores, sources, comments) # Generar un dataframe

In [12]:
shining_list = list(movie_name = mov, actors = act, reviews = rev)
shining_list

$movie_name
[1] "The Shining"

$actors
[1] "J. Nicholson" "S. Duvall"    "D. Lloyd"     "S. Crothers"  "B. Nelson"

$reviews
  scores sources       comments
1    4.5   IMDb1  First comment
2    3.7   IMDb2 Second comment
3    5.0   IMDb3    3th comment

In [13]:
# Acceder a los elementos 
shining_list$actors
shining_list[[2]] # Se accede a las listas con [[]]

[1] "J. Nicholson" "S. Duvall"    "D. Lloyd"     "S. Crothers"  "B. Nelson"

[1] "J. Nicholson" "S. Duvall"    "D. Lloyd"     "S. Crothers"  "B. Nelson"

In [14]:
shining_list[[2]][2] #Mientras que a los vectores se accede con []

[1] "S. Duvall"

In [15]:
mean(shining_list$reviews$scores)

[1] 4.4

### Dataframes

In [19]:
head(mtcars, 3)

              mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4     21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag 21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710    22.8 4   108   93 3.85 2.320 18.61 1  1  4    1

In [20]:
str(mtcars)

'data.frame':	32 obs. of  11 variables:
 $ mpg : num  21 21 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 ...
 $ cyl : num  6 6 4 6 8 6 8 4 4 6 ...
 $ disp: num  160 160 108 258 360 ...
 $ hp  : num  110 110 93 110 175 105 245 62 95 123 ...
 $ drat: num  3.9 3.9 3.85 3.08 3.15 2.76 3.21 3.69 3.92 3.92 ...
 $ wt  : num  2.62 2.88 2.32 3.21 3.44 ...
 $ qsec: num  16.5 17 18.6 19.4 17 ...
 $ vs  : num  0 0 1 1 0 1 0 1 1 1 ...
 $ am  : num  1 1 1 0 0 0 0 0 0 0 ...
 $ gear: num  4 4 4 3 3 3 3 4 4 4 ...
 $ carb: num  4 4 1 1 2 1 4 2 2 4 ...

In [21]:
mtcars[1, 2]

[1] 6

In [22]:
mtcars[1:3, 2:4] #Slicing

              cyl disp hp
Mazda RX4     6   160  110
Mazda RX4 Wag 6   160  110
Datsun 710    4   108   93

In [25]:
gear_vector1 <- mtcars[,"gear"]
gear_vector1

 [1] 4 4 4 3 3 3 3 4 4 4 4 3 3 3 3 3 3 4 4 4 3 3 3 3 3 4 5 5 5 5 5 4

In [26]:
gear_vector2 <- mtcars$gear
gear_vector2

 [1] 4 4 4 3 3 3 3 4 4 4 4 3 3 3 3 3 3 4 4 4 3 3 3 3 3 4 5 5 5 5 5 4

In [27]:
mtcars[mtcars$am == "0",] # Boolean Mask

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230            22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2

In [31]:
subset(mtcars, subset = cyl < 6 | cyl >= 8)

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Datsun 710          22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230            22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Fiat 128            32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic         30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla      33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Fiat X1-9           27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2       26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa        30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
Volvo 142E          21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

In [32]:
mpg_order <- order(mtcars$mpg)
mpg_order # Orden de los datos en función de sus indices

 [1] 15 16 24  7 17 31 14 23 22 29 12 13 11  6  5 10 25 30  1  2  4 32 21  3  9
[26]  8 27 26 19 28 18 20

In [33]:
head(mtcars[mpg_order, ], 4)

                    mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Cadillac Fleetwood  10.4 8   472  205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460  215 3.00 5.424 17.82 0  0  3    4
Camaro Z28          13.3 8   350  245 3.73 3.840 15.41 0  0  3    4
Duster 360          14.3 8   360  245 3.21 3.570 15.84 0  0  3    4