In [2]:
temp <- list(
    c(3, 7, 9, 6, -1),
    c(6, 9, 12, 13, 5),
    c(4, 8, 3, -1, -3),
    c(1, 4, -2, 2, 7)
)

In [3]:
print_info <- function(x) {
    cat("Temperatura promedio es: ", mean(x), "\n")
}

In [5]:
lapply(temp, print_info)

Temperatura promedio es:  4.8
Temperatura promedio es:  9
Temperatura promedio es:  2.2
Temperatura promedio es:  2.4

[[1]]
NULL

[[2]]
NULL

[[3]]
NULL

[[4]]
NULL

In [6]:
sapply(temp, print_info)

Temperatura promedio es:  4.8
Temperatura promedio es:  9
Temperatura promedio es:  2.2
Temperatura promedio es:  2.4

[[1]]
NULL

[[2]]
NULL

[[3]]
NULL

[[4]]
NULL

#### vapply

In [7]:
basics <- function(x) {
    c(min = min(x), max = max(x), mean = mean(x))
}

In [10]:
vapply(temp, basics, numeric(3) ) # Permite especificar el tipo de dato esperado [dar "formato"]

     [,1] [,2] [,3] [,4]
min  -1.0  5   -3.0 -2.0
max   9.0 13    8.0  7.0
mean  4.8  9    2.2  2.4

In [11]:
vapply(temp, function(x, y) {mean(x) > y}, y = 5, logical(1))

[1] FALSE  TRUE FALSE FALSE

In [12]:
vapply(temp, function(x, y) {mean(x) > y}, y = 5, logical(2)) # En caso de que no se devuelva lo indicado, falla

ERROR: Error in vapply(temp, function(x, y) {: values must be length 2,
 but FUN(X[[1]]) result is length 1