In [1]:
Sys.getlocale("LC_TIME")

[1] "C.UTF-8"

In [2]:
today <- Sys.Date() # Date
today

[1] "2025-05-13"

In [3]:
class(today)

[1] "Date"

In [4]:
now <- Sys.time()
now

[1] "2025-05-13 16:01:10 CST"

In [5]:
class(now)

[1] "POSIXct" "POSIXt"

#### String to Date

In [6]:
str1 <- "May 23, '96"
str2 <- "2012-03-15"
str3 <- "30/January/2006"
str4 <- "May 23, '96 hours:23 minutes: 45 seconds:17"

In [7]:
d1 <- as.Date(str1, format = "%b %d, '%y")
d1

[1] "1996-05-23"

In [8]:
d2 <- as.Date(str2, format = "%Y-%m-%d")
d2

[1] "2012-03-15"

In [9]:
d3 <- as.Date(str3, format = "%d/%B/%Y")
d3

[1] "2006-01-30"

In [10]:
POS1 <- as.POSIXct(str4, format = "%b %d, '%y hours:%H minutes: %M seconds:%S")
POS1

[1] "1996-05-23 23:45:17 CDT"

#### Date to String

In [11]:
format(d1, "%b %d =%y=")

[1] "May 23 =96="

#### Operaciones fechas

In [12]:
d1 + 1

[1] "1996-05-24"

In [13]:
d2 - d1

Time difference of 5775 days

In [14]:
day1 <- as.Date("2025-04-19")
day2 <- as.Date("2025-04-21")
day3 <- as.Date("2025-04-26")
day4 <- as.Date("2025-05-02")
day5 <- as.Date("2025-05-07")

In [15]:
pizza <- c(day1, day2, day3, day4, day5)
pizza

[1] "2025-04-19" "2025-04-21" "2025-04-26" "2025-05-02" "2025-05-07"

In [16]:
day_diffs <- diff(pizza)
day_diffs

Time differences in days
[1] 2 5 6 5

In [17]:
mean(day_diffs)

Time difference of 4.5 days

In [18]:
class(mean(day_diffs))

[1] "difftime"